<p id= "my_first_paragraph" class = "paragraph">The two-day Brussels summit, called to tackle a range of social and economic issues, will now be overshadowed by debate on how to respond to the alleged espionage by Washington against two of its closest European Union allies.
</p>

<button class="show-me-button">Show Me!</button>