/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.tag-box {
	background-color:#FFCCFF;
	color:white;
	padding:2px;
	margin: 10px 10px 10px 0px;

}

.tag-box a {
	color:white;
}